<!-- Header -->
<div class="chat-header">
    <div class="header-left">
      <div class="chat-icon-wrapper">
        <mat-icon class="chat-icon">smart_toy</mat-icon>
      </div>
  
      <div class="header-text">
        <div class="chat-title">Bhulekha Assistant</div>
        <div class="chat-status">
          <span class="status-dot"></span>
          <span>Online</span>
        </div>
      </div>
    </div>
  
    <div class="header-right">
      <button mat-icon-button class="header-btn" 
              *ngFor="let btn of headerActions"
              [title]="btn.title"
              (click)="btn.click()">
        <mat-icon>{{ btn.icon }}</mat-icon>
      </button>
    </div>
  
    <!-- language menu -->
    <div class="language-menu" *ngIf="showLanguageMenu">
      <div class="lang-option" *ngFor="let lang of languages" 
           (click)="selectLanguage(lang)">
        {{ lang.label }}
      </div>
    </div>
  
    <!-- settings menu -->
    <div class="settings-menu" *ngIf="showSettingsMenu">
      <div class="settings-title">Chat Settings</div>
      <div class="settings-option" *ngFor="let item of settingsOptions"
           (click)="item.action()">
        {{ item.label }}
      </div>
    </div>
  </div>
  