.chat-input {
    background: white;
    border-top: 1px solid #E1E7EF;
    padding: 14px 16px;
    flex-shrink: 0;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-wrapper {
    flex: 1;
    border: 1px solid #CDD6E1;
    background: white;
    border-radius: 8px;
    padding: 8px 12px;
    display: flex;
    gap: 8px;
    height: 75px;
}

.message-input {
    flex: 1;
    border: none;
    outline: none;
    resize: inherit;
}

.send-btn {
    /* width: 44px;
  height: 44px;
  background: #1F4E79;
  color: white; */
    border-radius: 12px;
}

.send-btn .mat-btn {
    transform: rotate(315deg);
    margin-bottom: 6px;
    margin-left: 6px;
}

.help-text {
    text-align: center;
    font-size: 12px;
    color: #9aa4b2;
    margin-top: 6px;
}

.primary_btn {
    background-color: var(--primary);
   border-radius: var(--number-spacing-xs);
    /* padding: var(--number-spacing-sm); */
    border: none;
    font-size: var(--number-spacing-md);
    color: var(--onprimary);
    cursor: pointer;
    
    border: 1px solid var(--primary);
        margin-top: 25px;
    text-align: center;
    width: 50px !important;
        padding: 10px;
}

.secondary_btn {
    background-color: transparent;
   border-radius: var(--number-spacing-xs);
    /* padding: var(--number-spacing-sm); */
    border: none;
    font-size: var(--number-spacing-md);
    color: var(--primary);
    cursor: pointer;
    text-align: left;
    border: 1px solid var(--primary);
    width: -webkit-fill-available;
    text-align: center;
    width: 50px !important;
        padding: 10px;
}

.tersary_btn {
    background-color: var(--extendedcolors-customcolor1container);
    border-radius: var(--number-spacing-xs);
    padding: var(--number-spacing-sm);
    border: none;
    font-size: var(--number-spacing-md);
    color: var(--primary);
    cursor: pointer;
    text-align: left;
    border: 1px solid var(--primary);
    text-align: center;
    width: 50px !important;
        padding: 10px;
}

.tersary_btn:hover {
    border: 1px solid var(--primary);
    background: transparent;
}