<div class="chat-input">
  <div class="input-container">

    <div class="input-wrapper">
      <textarea class="message-input" placeholder="Type your message here..." [(ngModel)]="newMessage" rows="1"
        (input)="autoResizeTextArea($event)" (keydown.enter)="onEnterPress($event)">
      </textarea>
    </div>

    <!-- MIC -->
    <button mat-icon-button class="mt-4 w-auto p-1 mic-btn" (click)="toggleMic()" [class.listening]="isListening"
      [disabled]="!isSpeechSupported"
      [matTooltip]="!isSpeechSupported ? 'Voice not supported' : (isListening ? 'Listening...' : 'Speak')">
      <mat-icon class="mat-btn">
        {{ isListening ? 'mic' : 'mic_off' }}
      </mat-icon>
    </button>

    <!-- SEND -->
    <button mat-icon-button [ngClass]="{
        'send-btn mt-4 primary_btn w-auto': newMessage,
        'send-btn mt-4 secondary_btn w-auto': !newMessage
      }" (click)="sendMessage()">
      <mat-icon class="mat-btn">send</mat-icon>
    </button>
  </div>

  <!-- LISTENING -->
  <div class="listening-text" *ngIf="isListening">
    Listening<span>.</span><span>.</span><span>.</span>
  </div>

  <!-- MIC PERMISSION -->
  <div class="mic-warning" *ngIf="micPermissionDenied">
    Please enable microphone access to use voice input
  </div>

  <div class="help-text mt-2">Type /help for assistance</div>
</div>