/* Ensure header stays positioned correctly */

:host {
    position: relative;
    display: block;
    width: 100%;
    z-index: 20;
}


/* HEADER BAR */

.chat-header {
    background: var(--primary);
    padding: 8px 16px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}


/* LEFT SIDE */

.header-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.chat-icon-wrapper {
    width: 40px;
    height: 40px;
    /* background: white; */
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1F4E79;
    padding-top: 13px;
}

.chat-title {
    font-size: var(--number-spacing-xl);
    /* font-weight: 500; */
}

.chat-status {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.status-dot {
    width: 8px;
    height: 8px;
    background: #4CAF50;
    border-radius: 50%;
}


/* RIGHT SIDE */

.header-right {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-btn mat-icon {
    color: white;
}


/* LANGUAGE DROPDOWN BUTTON */

.lang-btn {
    background: rgba(255, 255, 255, 0.22);
    color: white !important;
    border-radius: 4px;
    padding: 4px 10px;
    height: 36px;
    display: flex;
    align-items: center;
    direction: rtl;
    gap: 10px;
    padding: 2px !important;
}


/* Flag inside language menu button */

.lang-flag {
    width: 20px;
    height: 14px;
    border-radius: 3px;
    object-fit: cover;
}


/* MATERIAL MENU STYLING */

.lang-menu-panel .mat-menu-item img {
    width: 20px;
    height: 14px;
    border-radius: 3px;
    object-fit: cover;
}

.mat-menu-panel {
    border-radius: 10px !important;
    padding: 4px 0 !important;
}

.mat-menu-item {
    display: flex !important;
    align-items: center !important;
    gap: 10px;
    font-size: 14px !important;
}

.mat-menu-item:hover {
    background: #EEF3FF !important;
}


/* SETTINGS TITLE */

.settings-title {
    padding: 8px 16px;
    font-size: 13px;
    font-weight: bold;
    color: #666;
}

.no-class {
    background: transparent;
    color: #ffffff;
    /* width: 20px; */
}

.dir-r {
    direction: ltr;
}

.lang-menu-panel {
    background: var(--onprimary);
    color: white !important;
    border-radius: 4px;
    padding: 4px 10px;
    height: 36px;
    display: flex;
    align-items: center;
    direction: rtl;
    gap: 10px;
    padding: 2px !important;
}

.w-20px {
    width: 25px;
}
.chat_ft{     font-size: small;
    line-height: 24px;
    color: #333;
    display: flex;
    padding: 0px 4px;}