<div class="chat-header">
 
  <!-- LEFT SIDE -->
  <div class="header-left">
    <div class="chat-icon-wrapper">
      <!-- <mat-icon class="chat-icon">smart_toy</mat-icon> -->
      <img src="../assets/images/logo.png" width="40px" height="40px" class="mb-3" />
    </div>
 
    <div class="header-text">
      <div class="chat-title">Bhulekh</div>
      <div class="chat-status">
        <span class="status-dot"></span>
        <span>Online</span>
      </div>
    </div>
  </div>
 
  <!-- RIGHT SIDE BUTTONS -->
  <div class="header-right d-flex">
 
    <!-- LANGUAGE DROPDOWN BUTTON (mat-menu trigger) -->
    <button mat-button class="lang-btn d-flex px-0 mx-0 " [matMenuTriggerFor]="langMenu" #langTrigger="matMenuTrigger">
      <div class="d-flex dir-r">
        <div class="px-1 py-1"><img [src]="selectedLanguage.flag" class="lang-flag"></div>
        <div><span>{{ selectedLanguage.code.toUpperCase() }}</span></div>
      </div>
      <mat-icon>expand_more</mat-icon>
    </button>
 
    <!-- MATERIAL MENU: LANGUAGES -->
    <mat-menu #langMenu="matMenu" class="lang-menu-panel">
      <button mat-menu-item *ngFor="let lang of languages" (click)="selectLanguage(lang)">
        <div class="d-flex dir-r">
          <div class="px-2 py-1"><img [src]="lang.flag"></div>
          <div><span>{{ lang.code.toUpperCase() }} </span></div>
          <!-- <div><span>{{ lang.code.toUpperCase() }} — {{ lang.label }}</span></div>  -->
        </div>
      </button>
    </mat-menu>
 
    <!-- SETTINGS BUTTON + MENU -->
    <button mat-icon-button [matMenuTriggerFor]="settingsMenu" #settingsTrigger="matMenuTrigger" class="no-class px-0 mx-0 w-20px">
      <mat-icon>settings</mat-icon>
    </button>
 
    <mat-menu #settingsMenu="matMenu" class="settings-menu-panel">
 
      <!-- ✅ NON CLICKABLE TITLE -->
      <!-- <button mat-menu-item disabled class="settings-title ">
        Chat Settings
      </button> -->
 
      <!-- ✅ REAL ACTIONS -->
      <button mat-menu-item *ngFor="let opt of settingsOptions" (click)="selectSetting(opt)">
        <p class="chat_ft"> <mat-icon>volume_up</mat-icon>{{ opt.label }}</p>
        <!-- <mat-icon>history</mat-icon> -->
      </button>
 
    </mat-menu>
 
 
    <button mat-icon-button (click)="onMinimize()" class="no-class w-20px">
      <mat-icon>remove</mat-icon>
    </button>
 
    <button mat-icon-button (click)="onClose()" class="no-class w-20px px-2">
      <mat-icon>close</mat-icon>
    </button>
 
 
  </div>
 
</div>
 