/* ===========================
     WELCOME SCREEN UI
   =========================== */

.chat-modal {
    border-radius: 24px;
}

.welcome-screen {
    padding: 20px;
    text-align: center;
    background: linear-gradient(var(--primary), var(--tertiaryfixeddim));
    height: 100%;
    overflow-y: auto;
    color: white;
}

.welcome-logo {
    width: 80px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.welcome-title {
    font-size: var(--number-spacing-md);
    margin-bottom: 4px;
}

.welcome-subtitle {
    font-size: var(--number-spacing-sm);
    opacity: 0.9;
    margin-bottom: 18px;
}

.welcome-box {
    background: white;
    border-radius: 16px;
    padding: 18px;
    text-align: left;
    color: #222;
    margin-bottom: 20px;
}

.help-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 14px;
}

.welcome-action {
    width: 100%;
    background: #d9e9ff;
    border: none;
    padding: 10px;
    border-radius: 8px;
    text-align: left;
    margin-bottom: 10px;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.language-label {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 10px;
    font-size: 14px;
    opacity: 0.9;
    color: var(--scrim);
}

.language-buttons {
    display: flex;
    /* justify-content: center; */
    gap: 10px;
    margin-bottom: 20px;
}

.lang-btn {
    background: white;
    border-radius: 12px;
    padding: 12px 18px;
    border: none;
    font-size: 15px;
    color: #333;
    cursor: pointer;
    width: 120px;
    text-align: left;
}

.start-btn {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: none;
    background: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.icon-box {
    background-color: var(--primary);
    color: var(--onprimary);
    border-radius: var(--number-spacing-xxs);
    font-size: large;
    padding: 3px;
}