 .chat-modal {
    /* width: 400px;
    height: 100vh; */
    /* display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.12); */
} 

/* app-header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 50;
    display: block;
} */


/* ------------------------------------------------------ */


/* CHAT SCROLL AREA                                       */


/* ------------------------------------------------------ */

/* .chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 16px;
    background: #F8FAFC;
  
    min-height: 0;

} */


/* SCROLLBAR CLEANER */

.chat-messages::-webkit-scrollbar {
    width: 6px;
}

.chat-messages::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}


/* ------------------------------------------------------ */


/* MESSAGE BLOCKS                                         */


/* ------------------------------------------------------ */

.message-row {
    display: flex;
    gap: 12px;
    margin-bottom: 14px;
}


/* Avatar icons */

.message-avatar,
.message-user-avatar {
    width: 33px;
    height: 33px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.message-avatar mat-icon {
    color: #1F4E79;
}

.bot-message {
    background: var(--surface);
    border-radius: 0px 14px 14px 14px;
    border: 1px solid var(--surfacecontainerhighest);
    padding: 14px;
    overflow: auto;

}



.user-row {
    justify-content: flex-end;
}

.user-row .message-content {
    background: linear-gradient(90deg, var(--surfacetint), var(--onprimarycontainer));
    color: white;
    padding: 13px 18px;
    border-radius: 14px 0px 14px 14px;

    font-size: var(--number-spacing-sm);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.module-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.timestamp {
    font-size: 11px;
    color: #8895a7;
    margin-top: 4px;
}



.quick-actions-in-chat {
    margin-top: 10px;
}




.bot-combined-bubble {
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
}

.bot-bubble-left {
    width: 24px;
    height: 24px;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bot-bubble-content {
    background: var(--surface);
    border-radius: 0px 14px 14px 14px;
    border: 1px solid var(--surfacecontainerhighest);
    padding: 14px;
    width: calc(100% - 60px);
}



.quick-action-buttons {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.quick-action-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 14px;
    border-radius: 12px;
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: 500;
    min-height: 70px;

    min-width: 95px;
}


.btn-icon-wrap {
    width: 36px;
    height: 36px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-label {
    margin-top: 6px;
    font-size: 14px;
}



.quick-action-btn.blue {
    background: var(--primarycontainer);
    border-color: #A0CDFF;
    color: var(--primary);
}

.quick-action-btn.blue:hover {
    box-shadow: 0 0px 4px rgb(1, 100, 157 / 100%);
    border-color: #003F8A;
    animation: pulseShadow 4s infinite;
}

.quick-action-btn.purple {
    background: var(--extendedcolors-customcolor3container);
    border-color: var(--extendedcolors-oncustomcolor3container);
    color: var(--extendedcolors-customcolor3);
}

.quick-action-btn.purple:hover {
    box-shadow: 0 0px 4px rgb(47, 98, 140);
    border-color: #2F628C;
    animation: pulseShadow4 4s infinite;
}

.quick-action-btn.green {
    background: var(--extendedcolors-customcolor2container);
    border-color: var(--extendedcolors-oncustomcolor2container);
    color: var(--extendedcolors-customcolor2);
}

.quick-action-btn.green:hover {
    box-shadow: 0 0px 4px rgb(25, 136, 32);
    border-color: #2E7D32;
    animation: pulseShadow2 4s infinite;
}

.quick-action-btn.teal {
    background: var(--extendedcolors-customcolor1container);
    border-color: var(--extendedcolors-oncustomcolor1container);
    color: var(--extendedcolors-customcolor1);
}

.quick-action-btn.teal:hover {
    box-shadow: 0 0px 4px rgb(25, 123, 136);
    border-color: #0F6B75;
    animation: pulseShadow1 4s infinite;
}

.quick-action-btn.orange {
    background: var(--extendedcolors-customcolor5container);
    border-color: var(--extendedcolors-customcolor5container);
    color: var(--extendedcolors-customcolor5);
}

.quick-action-btn.orange:hover {
    box-shadow: 0 0px 4px rgb(136, 108, 25);
    border-color: #B2601B;
    animation: pulseShadow5 4s infinite;
}

.quick-action-btn.red {
    background: var(--extendedcolors-customcolor4container);
    border-color: var(--extendedcolors-oncustomcolor4container);
    color: var(--extendedcolors-customcolor4);
}

.quick-action-btn.red:hover {
    box-shadow: 0 0px 4px rgb(136, 25, 25);
    border-color: #B32020;
    animation: pulseShadow6 4s infinite;
}

@keyframes pulseShadow {
    0% {
        box-shadow: 0 0 2px rgba(68, 79, 163, 0.2);
    }

    50% {
        box-shadow: 0 0 15px rgba(68, 79, 163, 0.5);
    }

    100% {
        box-shadow: 0 0 2px rgba(68, 79, 163, 0.2);
    }
}

@keyframes pulseShadow1 {
    0% {
        box-shadow: 0 0 2px rgba(25, 123, 136, 0.2);
    }

    50% {
        box-shadow: 0 0 15px rgba(25, 123, 136, 0.5);
    }

    100% {
        box-shadow: 0 0 2px rgba(25, 123, 136, 0.2);
    }
}

@keyframes pulseShadow2 {
    0% {
        box-shadow: 0 0 2px rgba(25, 136, 32, 0.2);
    }

    50% {
        box-shadow: 0 0 15px rgba(25, 136, 32, 0.5);
    }

    100% {
        box-shadow: 0 0 2px rgba(25, 136, 32, 0.2);
    }
}

@keyframes pulseShadow3 {
    0% {
        box-shadow: 0 0 2px rgba(25, 136, 32, 0.2);
    }

    50% {
        box-shadow: 0 0 15px rgba(25, 136, 32, 0.5);
    }

    100% {
        box-shadow: 0 0 2px rgba(25, 136, 32, 0.2);
    }
}

@keyframes pulseShadow4 {
    0% {
        box-shadow: 0 0 2px rgba(93, 25, 136, 0.2);
    }

    50% {
        box-shadow: 0 0 15px rgba(93, 25, 136, 0.5);
    }

    100% {
        box-shadow: 0 0 2px rgba(93, 25, 136, 0.2);
    }
}

@keyframes pulseShadow5 {
    0% {
        box-shadow: 0 0 2px rgba(136, 108, 25, 0.2);
    }

    50% {
        box-shadow: 0 0 15px rgba(136, 108, 25, 0.5);
    }

    100% {
        box-shadow: 0 0 2px rgba(136, 108, 25, 0.2);
    }
}

@keyframes pulseShadow6 {
    0% {
        box-shadow: 0 0 2px rgba(136, 25, 25, 0.2);
    }

    50% {
        box-shadow: 0 0 15px rgba(136, 25, 25, 0.5);
    }

    100% {
        box-shadow: 0 0 2px rgba(136, 25, 25, 0.2);
    }
}


/* ------------------------------------------------------ */


/* INPUT AREA (BOTTOM FIXED LIKE SCREENSHOT)              */


/* ------------------------------------------------------ */

.chat-input {
    background: white;
    border-top: 1px solid #E1E7EF;
    padding: 14px 16px;
    flex-shrink: 0;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-wrapper {
    flex: 1;
    border: 1px solid #CDD6E1;
    background: white;
    border-radius: 20px;
    padding: 8px 12px;
    display: flex;
    gap: 8px;
    height: 75px;
}

.message-input {
    flex: 1;
    border: none;
    outline: none;
}

.send-btn {
    width: 44px;
    height: 44px;
    background: #1F4E79;
    color: white;
    border-radius: 12px;
}

.mat-btn {
    transform: rotate(315deg);
    margin-bottom: 6px;
    margin-left: 6px;
}

.help-text {
    text-align: center;
    font-size: 12px;
    color: #9aa4b2;
    margin-top: 6px;
}

.suggesstion {
    background: #ffffff;
    border-radius: var(--number-spacing-xs);
    padding: 12px 16px;
    font-size: var(--number-spacing-sm);
    line-height: 25px;
    color: var(--scrim);

    max-width: 90%;
    margin: 0px 0px;
    border: 1px solid var(--primarycontainer);
    display: block;
    width: 100%;
    text-align: left;
    font-weight: 400;
}

.suggesstion1 {
    background: #ffffff;
    border-radius: var(--number-spacing-xs);

    font-size: var(--number-spacing-sm);
    line-height: 25px;
    color: var(--scrim);

    max-width: 90%;
    margin: 0px 0px;
    border: 1px solid var(--primarycontainer);
    display: block;
    width: 100%;
    text-align: left;
    font-weight: 400;
}


/* service buttons */

.feedback-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.yes-btn,
.no-btn {
    padding: 8px 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.yes-btn {
    background: #1a4fff;
    color: #fff;
}

.no-btn {
    background: #e4ebff;
    color: #1a4fff;
}

.timestamp {
    font-size: 12px;
    color: #8f8f8f;
    margin-top: 4px;
}

.message-user-avatar {
    width: 30px;
    height: 30px;
    background-color: var(--primary);
    color: var(--onprimary);
    padding: 7px;
}

.typing-dots {
    display: inline-flex;
    gap: 4px;
    padding: 10px 14px;
    background: var(--surface);
    border: 1px solid var(--surfacecontainerhighest);
    border-radius: 0px 14px 14px 14px;
    width: fit-content;
}

.typing-dots span {
    width: 6px;
    height: 6px;
    background: #9aa4b2;
    border-radius: 50%;
    animation: blink 1.4s infinite both;
}

.typing-dots span:nth-child(2) {
    animation-delay: 0.2s;
}

.typing-dots span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {
    0% {
        opacity: 0.2;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: 0.2;
    }
}

.faq-answer {
    display: block;

    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    font-size: 14px;
    color: var(--scrim);
    line-height: 1.5;
    text-align: justify;
    width: 100%;
}

.download-icon {
    font-size: 18px;
    color: #195CC9;
    /* adjust to your theme */
    margin-left: 8px;
}


/* status card */


/* Wrapper spacing */

.status-wrapper {
    margin-top: 10px;
}


/* Title above the card */

.status-title-text {
    font-size: 14px;
    background: #ffffff;
    border-radius: 8px;
    padding: 6px 10px;
    margin-bottom: 8px;
    color: #333;
    border: 1px solid #efefef;
}


/* Main card */

.status-card {
    background: linear-gradient(135deg, #f4fffb, #e8fff0);
    padding: 18px;
    border-radius: 14px;
    border-left: 4px solid #3da55b;
    font-size: 14px;
    color: #222;
}


/* Basic layout blocks */

.row-item {
    margin-bottom: 16px;
}

.two-col {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.label {
    font-size: 13px;
    color: #555;
}

.value {
    font-size: 14px;
    font-weight: 500;
    margin-top: 2px;
}

.big {
    font-size: 20px;
    font-weight: 700;
    margin-top: 4px;
}




.status-pill {
    margin-top: 6px;
    display: inline-block;
    padding: 4px 12px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 600;
    color: white;
}

.status-pill.closed {
    background: #4caf50;
}

.status-pill.opened {
    background: #ff9800;
}

.status-pill.rejected {
    background: #e53935;
}

.w-70px {
    width: 60px;
    height: 50px;
}

.icondrp {
    background-color: var(--surface);
}

.ques {
    padding: 12px 16px;
    font-size: var(--number-spacing-sm);
    line-height: 25px;
    color: var(--scrim);

    text-align: left;
    font-weight: 400;
}

/* contact us */
.contact-card {
    background: #f5f9ff;
    border-radius: 12px;
    padding: 12px;
    margin: 8px 0;
}

.contact-header {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}

.contact-item {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 6px;
    font-size: 13px;
}

.contact-item mat-icon {
    font-size: 18px;

}
.chat-modal {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* 👈 REQUIRED (inside sidenav) */
    max-height: 100vh;
    /* 👈 SAFETY */
    background: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    /* 👈 PREVENT OUTER SCROLL */
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.12);
}
 
 
app-header {
    flex-shrink: 0; /* <- added extra */
    position: sticky;
    top: 0;
    left: 0;
    z-index: 50;
    display: block;
}
 
/* added extra */
app-chat-footer {
    flex-shrink: 0;
    /* 👈 PREVENT SCROLL */
    background: #ffffff;
    border-top: 1px solid #E1E7EF;
}
 
.chat-messages {
    flex: 1;
    /* 👈 TAKE REMAINING SPACE */
    overflow-y: auto;
    /* 👈 ONLY SCROLL AREA */
    padding: 16px;
    background: #F8FAFC;
    /* min-height:453px;
    height: 453px; */
    /* 👈 FLEX SCROLL FIX */
}
* timestamp + feedback row */
.timestamp-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
    font-size: 11px;
    color: #8f8f8f;
}
 
/* left side time */
.timestamp-text {
    white-space: nowrap;
}
 
/* right side icons */
.feedback-icons {
    display: flex;
    /* gap: 6px; */
    margin-inline-end: auto;
    margin-inline-start: 10px;
}
 
.feedback-icons mat-icon {
    font-size: 16px;
    cursor: pointer;
    color: #9aa4b2;
    transition: color 0.2s ease, transform 0.2s ease;
}
 
.feedback-icons mat-icon:hover {
    color: #1a4fff;
    transform: scale(1.1);
}